<ion-view view-title="Account">
  <ion-content>
    <div class="bar bar-header bar-assertive">
      <h1 class="title">Sezione 1</h1>
    </div>
    <ion-list>
      <ion-toggle  ng-model="settings.enableFriends">
          Enable Friends
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Riascolto
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Abilita attività
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Puzzle
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Indovina parole chiave
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Quiz parole chiave
      </ion-toggle>
    </ion-list>
    <div class="bar bar-header bar-assertive">
      <h1 class="title">Sezione 2</h1>
    </div>
    <ion-list>
      <ion-toggle  ng-model="settings.enableFriends">
          Enable Friends
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Riascolto
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Abilita attività
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
