<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-list-header>
        Sezione 1
      </ion-list-header>
      <ion-toggle  ng-model="settings.enableFriends">
          Enable Friends
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Riascolto
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Abilita attività
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Puzzle
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Indovina parole chiave
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Quiz parole chiave
      </ion-toggle>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Sezione 2
      </ion-list-header>
      <ion-toggle  ng-model="settings.enableFriends">
          Enable Friends
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Riascolto
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends">
          Abilita attività
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
